* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding: 0rem;
}

.container-1 {
  background-color: #F1F4F5;
  background-image: url(../imgs/taco-bg.png);
  background-repeat: repeat;
  max-height: 1024px;
}

img.logo {
  height: 3.4vh;
  float: left;
  margin: 2.5rem 2.2rem 4rem 2rem;
}

img.noah {
  max-height: 80vh;
  margin-left: 4rem;
}

.caption {
  position: absolute;
  bottom: 1.5rem;
  right: -4rem;
  font-size: 0.7rem;
  color: #999999;
}

h1 {
  font-size: 2.3rem;
  line-height: 2.7rem;
  font-weight: 600;
}

.input-email {
  font-size: 1.3rem;
  font-weight: 200;
  padding: 0.7rem 3rem 0.7rem 1rem;
  border: 1px solid lightgrey;
}

.boton-spice {
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  background-color: #2BBD3E;
  box-shadow: 0.4rem 0.4rem 0 0 #16891E;
  border: none;
}

.texto-1 {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2rem;
}

.quote-title {
  font-size: 1em;
  margin: 4.5rem 0rem 1rem 0rem;
}

.quote {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.008rem;
  color: #5b5b5b;
  line-height: 2rem;
  padding: 0rem 2rem;
}

footer {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.link-block {
  margin: 2rem 0rem 5rem 0rem;
}

.link {
  color: #2BBD3E;
  line-height: 1.5rem;
  border-bottom: 2px solid #2BBD3E;
}

@media (min-width:1024px) {
  h1 {
    font-size: 2.7rem;
    line-height: 2.8rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  img.noah {
    margin-left: 2rem;
  }
}

@media (max-width:768px) {
  .caption {
    left: -6rem;
  }
  .texto-1 {
    font-size: 1.3rem;
  }
  img.noah {
    height: 340px;
    margin-left: -1rem;
  }
}

@media (max-width:767px) {
  h1 {
    text-align: center;
  }
  .contenedor-botones {
    display: flex;
    justify-content: center;
  }
}