*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html{
  font-size: 100%;
}

body {
  width: 100%;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.container-1 {
  background-color: #F1F4F5;
  background-image: url(../imgs/taco-bg.png);
  background-repeat: repeat;
}

img.logo {
  height: 3vh;
  float: left;
  margin: 2.8rem 2.2em;
}

img.noah{
  max-height: 80vh;
  margin-top: 2rem;
}

.caption {
  position: absolute;
  bottom: 1.5rem;
  right: -4rem;
  font-size: 0.7rem;
  color:#999999;
}

.block-der {
  margin-top: 5rem;
  padding-left: 2rem;
}

h1 {
  font-size: 2.7rem;
  line-height: 2.8rem;
  font-weight: 600;
}

.login {
  margin: 1rem -1rem;
  padding: 0.5rem;
  
}

.input-email {
  font-size: 1.3rem;
  font-weight: 200;
  padding: 0.6rem 4rem 0.6rem 0.6rem;
  margin-left: -1rem;
  border: 1px solid #2BBD3E;
}

.boton-spice {
  color: white;
  font-size: 1.3rem;
  padding: 0.8rem 2.2rem;
  background-color: #2BBD3E;
  box-shadow: 0.4rem 0.4rem 0 0 #16891E;
  border: none;
  margin-left: -4.8rem;
}

.texto-1 {
  font-size: 1.4rem;
  font-weight: 200;
  margin-top: 0.5rem;
  line-height: 1.8rem;
  margin-left: -0.7rem;
}

.quote-title {
  font-size: 1em;
  margin: 4.5rem 0rem 1rem 0rem;
}

.quote {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.008rem;
  color: #5b5b5b;
  line-height: 2rem;
  padding: 0rem 2rem;
}
footer {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.link-block {
  margin: 2rem 0rem 5rem 0rem;
}
.link{
  color: #2BBD3E;
  line-height: 1.5rem;
  border-bottom: 2px solid #2BBD3E;
}
